@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand-Regular.ttf');
    /* IE9 Compat Modes */
}

@media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: 0s !important;
        left: 200px !important;
    }

    .main-wrapper {
        width: calc(100% - 300px) !important;
        float: right !important;
    }

    .main-wrapper .container {
        width: 100% !important;
    }

    .sidebar-nav li.active a {
        pointer-events: none;
    }
}

@media (max-width: 992px) {
    .navbar-light {
        background: #f20458;
    }

    .navbar-toggler {
        height: 40px;
        width: 40px;
        position: relative;
        top: 0;
        padding: 0;
        left: 0;
        float: right;
        background: #F20558;
    }

    .burger {
        position: absolute;
        background-color: #000000;
        width: 30px;
        height: 4px;
        right: 0;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        margin: 0 auto;
        top: 17px;
    }

    .navbar-toggler:focus .burger {
        background-color: #ffffff;
    }

    .navbar-toggler:focus .burger::before,
    .navbar-toggler:focus .burger::after {
        background-color: #ffffff;
    }

    .burger::before {
        position: absolute;
        background-color: #000000;
        width: 30px;
        height: 4px;
        top: 10px;
        border-radius: 2px;
        content: "";
        display: block;
    }

    .burger::after {
        position: absolute;
        background-color: #000000;
        width: 30px;
        height: 4px;
        bottom: 10px;
        border-radius: 2px;
        content: "";
        display: block;
    }

    .burger::after,
    .burger::before,
    .burger {
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
    }

    .burger-menu {
        display: block;
        height: 100%;
    }

    .inner-sidebar {
        display: none;
    }

    .sub-content {
        padding: 0 15px !important;
    }

    .profile-container {
        text-align: left !important;
    }

    .sidebar-nav li ul,
    .sidebar-nav li a::after {
        visibility: visible !important;
    }

    .sidebar-nav .earnings {
        color: #000;
        text-align: center !important;
        padding-left: 0;
        margin-bottom: 15px;
        display: block !important;
    }

    .sponsorship-content ul li img {
        width: 100%;
    }

    .sponsorship-content ul li {
        padding: 25px;
    }

    .sponsor-text h6 span {
        float: none !important;
    }

    .left-content {
        padding: 0;
    }

    .sw-theme-dots>ul.step-anchor>li>a:after {
        left: -31px!important;
        top: -30px!important;
    }

    .sw-theme-dots>ul.step-anchor>li>a:before{
        margin-top: 0!important;
    }

}


a,
a:hover,
a:focus {
    text-decoration: none;
    color: #FF015B;
}

a,
body {
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Shrikhand';
}

h1 {
    font-size: 65px;
}

.text-danger {
    color: #FF015B !important;
}

.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.btn-primary {
    background: #FF015B !important;
    border-color: #FF015B !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #ef2d72 !important;
    color: #fff;
}

.form-control:focus {
    border-color: #ff015b;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 1, 91, 0.25);
}

.navbar-light {
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
}

.btn-rounded {
    border-radius: 40px;
    border: none;
}

.btn-lg.btn-rounded {
    z-index: 10;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 17px 40px;
    text-transform: uppercase;
    height: 50px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-md.btn-rounded {
    z-index: 10;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 12px 20px;
    text-transform: uppercase;
    height: 40px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-sm.btn-rounded {
    z-index: 10;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 8px 20px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-dark {
    background: #000;
}

.btn-icon>i {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    opacity: 0;
    width: 0;
    font-size: 14px;
    -webkit-transition: .5s;
    transition: .5s;
}

.btn-icon:hover i {
    text-align: center;
    opacity: 1;
    width: 5px;
    margin-left: 15px;
}

.nav-btn {
    margin-left: 15px;
}

#sidebar-wrapper {
    top: 0;
    left: -200px;
    width: 300px;
    background: #eaeaea;
    color: #fff;
    position: fixed;
    height: 100%;
    z-index: 1;
    box-shadow: rgba(204, 204, 204, 0.57) 0 4px 8px -2px;
}

#sidebar-wrapper .material-icons {
    margin-right: 10px;
    vertical-align: middle;
}

.sidebar-copyright {
    position: fixed;
    bottom: 30px;
    font-size: 10px;
    color: #000;
    text-align: center;
    width: 300px;
    font-weight: 700;
}

.sidebar-copyright p {
    margin-bottom: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 2em 0 0 0;
    width: 300px;
    list-style: none;
    overflow-x: hidden;
}

.sidebar-logo a {
    text-align: center;
    padding: 30px 0 60px;
}

.sidebar-logo img {
    width: 100px;
    margin: 0 auto;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 45px;
    padding: 5px 0;
}

.sidebar-nav li a {
    color: #000000;
    display: block;
    margin: 0;
    font-family: 'Shrikhand';
    text-decoration: none;
}

.sidebar-nav li a>i {
    padding-right: 15px;
}

.sidebar-nav li ul li:last-of-type {
    padding: 0;
    background: transparent;
}

.sidebar-nav li.active {
    background: #ffffff;
}

.sidebar-nav li.active a {
    color: #FF015B;
}

.sidebar-nav li a::after {
    left: 10px;
    position: relative;
    vertical-align: middle;
    visibility: hidden;
}

.sidebar-nav li.sidebar-logo:hover {
    background: transparent;
}

.sidebar-nav li:hover,
.sidebar-nav li:focus {
    background: #ffffff;
}

.sidebar-nav li:hover a,
.sidebar-nav li:focus a {
    color: #FF015B;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    color: #FF015B;
}

.sidebar-nav li ul {
    list-style: none;
}

#sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -200px;
}

.main-wrapper {
    margin: 0 auto;
}

.p-90-0-60 {
    padding-top: 90px;
    padding-bottom: 60px;
}

.py-50 {
    padding: 50px 0;
}

.pb-18em {
    padding-bottom: 18em;
}

.pt-20em {
    padding-top: 20em;
}

.mt-80 {
    margin-top: 80px;
}

.earnings {
    padding: 0 20px;
}

.earnings span {
    font-style: italic;
    color: #FF015B;
    font-family: 'Shrikhand';
}

.earnings-container {
    text-align: center;
}

.earnings-container a,
.earnings {
    display: inline-block;
}

.profile-container {
    text-align: center;
}

.profile-container a {
    color: #000;
    font-size: 18px;
    padding: 0 5px;
    vertical-align: middle;
}

.profile-container a sup {
    background: #ff015b;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.profile-container img {
    width: 40px;
    padding: 0;
}

.profile-container .dropdown {
    display: inline-block;
    padding: 0 8px;
}

.profile-container .dropdown button {
    border: 0;
    background: transparent !important;
    padding: 0;
    color: #000 !important;
    box-shadow: none !important;
}

.profile-container .dropdown-item {
    font-size: 16px;
    padding: 5px 10px;
}

.content-wrapper {
    background: url(../img/dashboard_bg.jpg) no-repeat;
    background-size: cover;
    padding: 60px 30px;
}

.inner-wrapper {
    border-radius: 20px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: stretch;
    min-height: 80vh;
    -webkit-box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.25);
    box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.25);
}

.inner-sidebar {
    min-width: 220px;
    max-width: 220px;
    background: #eaeaea;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.inner-sidebar ul {
    margin: 0;
    padding: 50px 0;
    list-style: none;
}

.inner-sidebar ul li {
    padding: 15px 25px;
}

.inner-sidebar ul li.active {
    background: #fff;
}

.inner-sidebar ul li.active a,
.inner-sidebar ul li:hover a,
.inner-sidebar ul li:focus a {
    color: #FF015B;
}

.inner-sidebar ul li:hover,
.inner-sidebar ul li:focus {
    background: #ffffff;
}

.inner-sidebar ul li a {
    font-family: 'Shrikhand';
    font-size: 14px;
    color: #000000;
}

.sub-content {
    width: 100%;
    background: #fff;
    padding: 0 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.sub-content h4 {
    margin-bottom: 20px;
}

.profile-upload {
    background: #f5f5f5;
    border-radius: 20px;
    padding: 30px;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    overflow: hidden;
}

.form-edit {
    padding: 15px;
}

.form-edit h6 {
    margin: 0;
}

.form-edit h6 a {
    font-size: 12px;
    padding: 5px;
}

.form-edit .bootstrap-tagsinput input {
    display: none;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    right: 10px;
    display: none;
}

.bootstrap-tagsinput .label {
    background: #ff015b;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}

.bootstrap-tagsinput .label>span::before {
    color: #fff;
    content: "×";
}

.bootstrap-tagsinput .label>span {
    display: inline-block;
    font-size: 18px;
    padding: 0 10px;
    cursor: pointer;
}

.sidebar-nav .earnings {
    display: none;
}

.icon.social {
    width: 25px;
    height: 25px;
    background: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    padding: 3px;
    vertical-align: -webkit-baseline-middle;
}

.social-accounts a>span {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.social-accounts a>.edit.icon {
    background: #2ba24c;
    color: #fff;
    font-size: 12px;
    padding: 4px;
}

.social-accounts a>.delete.icon {
    background: #fe1616;
    color: #fff;
    font-size: 12px;
    padding: 4px;
}

.social-accounts a>span:hover {
    opacity: .7;
}

.money-earned h4 span {
    color: #ff015b;
}

.money-earned h4 i {
    padding: 0 20px;
}

.sponsorship-content {
    font-size: 12px;
}

.sponsorship-content .card {
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    margin-bottom: 25px;
}

.sponsorship-content p {
    margin-bottom: 5px;
}

.sponsorship-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sponsorship-content ul li {
    background: #f5f5f5;
    margin: 25px 0;
    border-radius: 20px;
    overflow: hidden;
}

.sponsorship-content ul span {
    font-size: 10px;
}

.sponsorship-content ul h6 {
    font-size: 12px;
}

.sponsor-text {
    padding: 20px 15px 0 0;
    width: 95%;
    margin: 0 auto;
}

.sponsorship-content .flag-icon {
    vertical-align: top;
}

.sponsorship-content .icon.social {
    font-size: 10px;
    width: 20px;
    height: 20px;
}

.sponsor-text h6 {
    border-bottom: 1px solid rgba(204, 204, 204, 0.45);
    padding-bottom: 10px;
}

.sponsor-text h6 span {
    font-family: 'Nunito', sans-serif;
    float: right;
}

.sponsor-text h6 span>span {
    color: #ff015b;
    font-family: 'Shrikhand';
    padding-left: 5px;
    font-size: 12px;
}

.filter-logic {
    margin-bottom: 30px;
}

.filter-logic .form-check {
    padding: 5px 0;
}

.form-check [type="radio"]:checked,
.form-check [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-check [type="radio"]:checked+label,
.form-check [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.form-check [type="radio"]:checked+label:before,
.form-check [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.form-check [type="radio"]:checked+label:after,
.form-check [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ff015b;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-check [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-check [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.filter-logic input[type="range"] {
    width: 100%;
}

.range-group {
    margin: 30px 0;
}

.myprojects .card {
    padding: 0;
    overflow: hidden;
    border-radius: 30px;
    margin: 30px 0 60px;
    border: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.25);
    box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.25);
}

.myprojects .card img {
    border-radius: 25%;
    padding: 0 0 15px 0;
    margin: 0 auto 10px 0;
}

.myprojects .card p {
    margin-bottom: 5px;
}

.myprojects .card .social.icon {
    width: 20px;
    height: 20px;
    font-size: 10px;
    padding: 4px;
    position: relative;
    bottom: 5px;
}

.myprojects .card .social.icon:hover {
    background: #333;
}

.project-budget {
    margin-top: 30px;
}

.project-budget h5 {
    color: #ff015b;
}

.myprojects .left-content,
.myprojects .right-content {
    padding: 20px;
}

.left-content .flag-icon {
    margin-right: 12px;
}

.right-content h6 {
    color: #ff015b;
}

.myprojects .form-group {
    margin-bottom: 0 !important;
}

.myprojects .card-footer {
    padding: 0;
    border: 0;
}

.myprojects .card-footer .col-lg-6 {
    text-align: center;
}

.myprojects .card-footer .col-lg-6 a {
    padding: 15px 0;
    display: block;
}

.myprojects .card-footer .col-lg-6 a:hover {
    opacity: 0.75;
}

.myprojects .card-footer .col-lg-6:last-of-type a {
    background: #ff015b;
    color: #fff;
}

.proposals .card-footer .col-lg-4 {
    text-align: center;
}

.proposals .card-footer .col-lg-4 a {
    padding: 15px 0;
    display: block;
}

.proposals .card-footer .col-lg-4 a:hover {
    opacity: 0.75;
}

.proposals .card-footer .col-lg-4:first-of-type a {
    background: #ff015b;
    color: #fff;
}

.proposals .card-footer .col-lg-4:last-of-type a {
    background: #000000;
    color: #fff;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #ff015b;
}

.invoices .col-lg-3 {
    text-align: center;
}

.invoices .col-lg-3 a {
    padding: 10px;
    display: block;
}

.invoices .col-lg-3 a img {
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(20, 20, 40, 0.25);
    box-shadow: 0 2px 2px 0 rgba(20, 20, 40, 0.25);
}

.invoices .col-lg-3 p {
    font-size: 14px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ff015b;
}

.social-list input[type=checkbox] {
    display: none;
}

.social-list .input-ig::before {
    content: "\f16d";
}

.social-list #instagram[type=checkbox]:checked+label{
    background: #D32477;
}

.social-list #youtube[type=checkbox]:checked+label{
    background: #FF0000;
}

.social-list #twitter[type=checkbox]:checked+label{
    background: #1DA1F2;
}

.social-list #facebook[type=checkbox]:checked+label{
    background: #3A559F;
}

.social-list #snapchat[type=checkbox]:checked+label{
    background: #FFFC00;
}

.social-list #tiktok[type=checkbox]:checked+label{
    background: #FF004F;
}

.social-list .input-yt::before {
    content: "\f167";
}

.social-list .input-tw::before {
    content: "\f099";
}

.social-list .input-fb::before {
    content: "\f39e";
}

.social-list .input-sc::before {
    content: "\f2ac";
}

.social-list .input-tt::before {
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgMzg0IDM4NCIgd2lkdGg9IjUxMiIgY2xhc3M9IiI+PGc+PHBhdGggZD0ibTI0MCA4MHYtMTZoLTMydjE3NmMwIDI2LjQ3MjY1Ni0yMS41MjczNDQgNDgtNDggNDhzLTQ4LTIxLjUyNzM0NC00OC00OCAyMS41MjczNDQtNDggNDgtNDhoMTZ2LTMyaC0xNmMtNDQuMTEzMjgxIDAtODAgMzUuODg2NzE5LTgwIDgwczM1Ljg4NjcxOSA4MCA4MCA4MCA4MC0zNS44ODY3MTkgODAtODB2LTk2LjE1MjM0NGMxMy4zOTA2MjUgMTAuMDg5ODQ0IDI5Ljk3NjU2MiAxNi4xNTIzNDQgNDggMTYuMTUyMzQ0aDE2di0zMmgtMTZjLTI2LjQ3MjY1NiAwLTQ4LTIxLjUyNzM0NC00OC00OHptMCAwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGRkZGRkYiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+PHBhdGggZD0ibTAgMzg0aDM4NHYtMzg0aC0zODR6bTMyLTM1MmgzMjB2MzIwaC0zMjB6bTAgMCIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRkZGRkZGIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCI+PC9wYXRoPjwvZz4gPC9zdmc+);
    background-size: 20px;
    background-position: 50% center;
    background-repeat: no-repeat;
}


.social-list input[type=checkbox]+label::before {
    font-family: "Font Awesome 5 Brands";
    color: #fff;
    padding: 10px;
    font-size: 18px;
}

.social-list input[type=checkbox]+label {
    height: 50px;
    width: 50px;
    background: #000000;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 0;
    cursor: pointer;
    line-height: 50px;
    margin: 0;
}

.social-list label {
    margin: 10px 0!important;
}

.social-list input[type=checkbox]:checked+label {
    height: 50px;
    width: 50px;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    line-height: 50px;
    margin: 0;
}

.multiselect-container {
    max-height: 400px;
    overflow: scroll;
}

.multiselect-native-select {
    width: 100%;
    display: block;
}

.multiselect-native-select .btn-group {
    width: 100%;
}

.multiselect-native-select .btn-group .btn {
    border: 1px solid #ced4da;
    color: #495057;
    background: #fff;
    position: relative;
}

.multiselect-native-select .btn-group .btn::after {
    right: 10px;
    top: 15px;
    position: absolute;
}

.multiselect-container>li>a>label.checkbox, 
.multiselect-container>li>a>label.radio {
    padding-left: 15px;
}

.iti {
    width: 100%;
}

.sw-theme-dots>ul.step-anchor>li>a:after{
    left: 44%;
}

.sw-theme-dots>ul.step-anchor>li.active>a {
    color: #ff015b;
}

.sw-theme-dots>ul.step-anchor>li.active>a:after {
    background: #ff015b;
}

.sw-theme-dots>ul.step-anchor:before{
    top: 70%;
}

.footer {
    background: #000000;
    -webkit-box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
}

.footer-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    box-shadow: 0 2px 4px 0 rgba(20, 20, 40, 0.10);
    color: #F7F7FC;
    letter-spacing: 1px;
    width: 70px;
    height: 70px;
    padding: 0;
    line-height: 70px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-brand:hover {
    text-decoration: none;
    color: #F7F7FC;
}

.footer-brand img {
    width: 80px;
    margin: 7px 30px 10px 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    list-style-type: none;
}

.footer ul li a {
    display: block;
    padding-bottom: 10px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #F7F7FC;
    opacity: .8;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.footer ul li a:hover {
    padding-left: 5px;
    text-decoration: none;
    opacity: 1;
}

.footer .nav-link {
    color: rgba(243, 6, 88, 1);
    font-family: 'Shrikhand';
}

.footer .nav-item:hover .nav-link:after {
    display: none;
}

hr {
    background-color: rgba(250, 250, 255, .1);
}

.footer-copyright {
    color: #F7F7FC;
    font-size: 14px;
    margin: 0;
    padding: 15px 0;
}